
.list__item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;

    &:first-child {
        padding: 0;
        margin-bottom: 1rem;
        font-weight: 600;
        letter-spacing: 0.04rem;
        border-bottom: none;
    }
   
     &:nth-last-of-type(-n + 2){
        border-bottom: none;
     }
}


.list__item__header {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.open__item{
    width: 100%;
    display: flex;
    margin:0.5rem  0;
    flex-direction: column;
}

.close__item {
    display: none;
}

.list__visible{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #cecece;
    padding: 2rem;
    border-radius: 0.375rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}