.list {
    
}

.list__item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 1rem 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

    &:first-child {
        font-weight: 600;
        letter-spacing: 0.04rem;
         padding: 0;
        border-bottom: none;
    }
}

.list__item__header {
    display: flex;
    align-items: center;
}

.open__item{
    width: 100%;
    display: flex;
    margin:0.5rem  0;
    flex-direction: column;
}

.close__item {
    display: none;
}