.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    margin-top: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.search {
    position: relative;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem 0.3rem 0 0;
}

.header__left {
    display: flex;
    gap: 1rem;
    align-items: center;

    a {
        display: flex;
        align-items: center;
    }
}

.left__content {
    display: flex;
    gap: 1rem;
}

.header__account svg {
    font-size: 1.5rem;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right__search-container {
    position: absolute;
    top: 120%;
    right: 0;
    border-radius: 0.3rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

}

.main {
    min-height: 100vh;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-between;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;

    ul {
        display: flex;
        gap: 1rem;
    }
}

.left__menu {
    display: none;
}


.show-aside {
    display: block;
    
    position: absolute;
    z-index: 6;
    top: 10%;
    border-radius: 0.375rem;
    background: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    
    ul{
        margin: 0.2rem;
    }

}


@media only screen and (max-width: 768px) {
    .header__account {
        display: none;
    }

    .header__left {
        gap: 0;
    }

    .left__menu {
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
    }

}

@media only screen and (max-width: 576px) {
    .header {
        font-size: 0.9rem;
        padding: 0.3rem;
    }
    .left__content {
    & a:first-child{

        display: none;
    }
    & a:nth-child(2) {
        font-size: 0.8rem;
    }
}
}