.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    margin-top: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.header input {
    box-shadow: 0 0 12px rgba(113, 54, 54, 0.1);
    background-color: rgb(216, 216, 216);
}

.header__left {
    display: flex;
    gap: 1rem;
    align-items: center;
    a{
        display: flex;
        align-items: center;
    }
}

.header__account{
    font-size: 1.5rem;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.main {
    min-height: 100vh;
}

.footer {
    display: flex;
    margin: 2rem 0;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-between;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    ul {
        display: flex;
        gap: 1rem;
    }
}