.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card__image {
    flex-shrink: 0;
    object-fit: cover;
}

.card__details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.2rem 0.5rem;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;

    p {
        font-size: 0.9rem;
    }

    svg {
        align-self: flex-end;
    }
}

