.search__list {
    width: 100%;
    padding: 0.3rem;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    background: rgb(243, 243, 243);
    border-radius: 0 0 0.3rem 0.3rem;
    li {
        cursor: pointer;
    }
}