.container {
    display:  flex;
    margin-top: 3rem;
    gap: 2rem;
}

.container__aside {
    
    flex-shrink: 0;
    height: fit-content;
    width: 220px;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.container__main{
    width: 100%;
}

.aside__title{
    display: flex;
    align-items: center; 
    gap: 1rem;
    margin: 1rem 0;
    svg {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width:768px) {
    .container__aside {
        display: none;
        transform: translateX(-113%);
    }
    
}