.container {
    width: 100%;
    margin: 0 0 8rem;
}

.container__title {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5rem 0.5rem;
    
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.3rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);

}

.container__loader {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}