.container {
    min-height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.container__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}