.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;


    &::before,
    &::after {
        content: "";
        display: block;

        background-color: black;
        width: 100px;
        height: 5px;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

}