.container {
  
    margin: 4rem 0;
}


.container__main {
    display: flex;
    gap: 1rem;
}


.main__aside{
    width: 200px;
    height: fit-content;
    flex-shrink: 0;
    padding: 1rem 1.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.container__content{
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

}

.container__pagination{
    display: flex;
    justify-content: center;
    margin: 2rem 0;

}