.container {
    margin-top: 6rem;
}


.container__content {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    /* align-items: stretch; */
    /* height: 200px; */
}

.container__left {
    text-align: justify;
    line-height: 1.5;
}

.container__left,
.container__right {
    width: 50%;
}

.container__right {
    position: relative;
}

.container__right>img {
    height: 200px;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

@media only screen and (max-width: 992px) {
    .container__content {
        flex-direction: column;
    }

    .container__right {
        height: 200px;
        order: -1;
    }

    .container__left,
    .container__right {
        width: auto;
    }
}