.container {
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    border-radius: 0.3rem;
}

.container__image {
    width: 100%;
    position: relative;
    
    height:200px;

    img {
        display: block;
        border-radius: 0.3rem;
    }
}

.container__description {
    padding: 1rem;
}
