.container {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out all;

    &:hover {
        transform: translateY(-5px);

    }
}

.container__image {
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 200px;

    img {
        display: block;
        border-radius: 0.3rem;
    }
}

.container__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.7rem;
    align-items: flex-end;



    p {
        width: fit-content;
        background: black;
        color: white;
        padding: 0.2rem 0.5rem;
        border-radius: 0.375rem;
    }
}

.description__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}